body{
	background-color: #F0F0F0;
}

#page {
    padding-top: 60px;
}

.content{
	background-color: #D8D8D8;
}

.container #content{
	padding: 10px;
}

.container #sidebar{
	background-color: #A8A8A8;

	padding: 10px;
}

#usermenu{
	background-color: white;
	padding: 5px;
}

#usermenu ul{
	padding: 0;
}

#usermenu li{
	text-decoration: none;
	list-style: none;
}

#comments .flash-success{
	padding: 5px 5px 5px 50px;
}

#footer{
	background-color: black;
	color: white;
	padding: 20px;
}